# Snowshoe hares at Bonanza Creek Experimental Forest

## **Week 3 - Discussion section**

### Load library

In [1]:
# Load library
import pandas as pd
import numpy as np

### Add image

![Cutie Hare](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg/1452px-SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg?20170313021652)

This file is made available under the Creative Commons CC0 1.0 Universal Public Domain Dedication.
The person who associated a work with this deed has dedicated the work to the public domain by waiving all of their rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law. You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.

### Data loading and preliminary exploration

In [2]:
# Read data
hares = pd.read_csv("https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701")
hares

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,8/8/2002,18:00:00,bonrip,1b,1201,1202,NaN,NaN,1400.0,NaN,NaN,63.0,64,Population
3376,8/8/2002,6:00:00,bonrip,4b,1201,1202,NaN,NaN,NaN,NaN,NaN,63.0,64,Population
3377,8/7/2002,NaN,bonrip,4b,1217,1218,NaN,NaN,1000.0,134.0,NaN,69.0,64,Population
3378,8/8/2002,NaN,bonrip,6d,1217,1218,NaN,NaN,990.0,NaN,NaN,69.0,64,Population
3379,8/6/2002,NaN,bonrip,4b,1058,1060,M,NaN,1460.0,119.0,NaN,32.0,64,Population

In [3]:
hares.shape

(3380, 14)

In [4]:
hares.dtypes

date           object
time           object
grid           object
trap           object
l_ear          object
r_ear          object
sex            object
age            object
weight        float64
hindft        float64
notes          object
b_key         float64
session_id      int64
study          object
dtype: object

In [5]:
# Are there any columns that have a significant number of NA values?
hares.isnull().sum()

date             0
time          3116
grid             0
trap            12
l_ear           48
r_ear          169
sex            352
age           2111
weight         535
hindft        1747
notes         3137
b_key           47
session_id       0
study          163
dtype: int64

In [6]:
# What are the minimum and maximum values for the weight measurements?
print(hares['weight'].min())
print(hares['weight'].max())

0.0
2365.0

In [7]:
# What are the minimum and maximum values for the hind feet measurements?
print(hares['hindft'].min())
print(hares['hindft'].max())

60.0
160.0

In [8]:
hares[hares['weight'] == 0] = np.nan # change zero value to NA

In [9]:
hares[hares['weight'] == 0]

Empty DataFrame
Columns: [date, time, grid, trap, l_ear, r_ear, sex, age, weight, hindft, notes, b_key, session_id, study]
Index: []

In [10]:
# What are the unique values for some of the categorical columns?

hares['age'].unique()

array([nan, 'J', 'A', 'a 1 yr.', 'a 3/4 yr.', 'a 1 yr', '1 yr', '1 yr.',
       '2 yrs.', '2 yrs', 'a 2 yrs.', '2.25 yrs', '3.5 yrs.', '3 yrs.',
       '2.5 yrs', '3.25 yrs.', 'A 1.5', '?', 'U', 'j', 'a', 'u', 'J 3/4',
       'A 3/4', 'A 1/2', '3/4/2013', '1/4/2013', '1/2/2013', '1', '1.25',
       '1.5'], dtype=object)

### Detecting messy values

In the metadata section of the EDI repository, find which are the allowed values for the haresâ€™ sex. Create a small table in a markdown cell showing the values and their definitions.
Get the number of times each unique sex non-NA value appears.
Check the documentation of value_counts().

Discuss with your team the output of the unique value counts. In particular:

**Do the values in the sex column correspond to the values declared in the metadata?**
No

**What could have been potential causes for multiple codes?**
Lack of proper datsheets

**Are there seemingly repated values? If so, what could be the cause?**
Yes, there are repeated values.

**Write code to confirm your suspicions about c-iii.**

| Syntax      | Description         |
| ----------- | -----------         |
| m           |  Male               |
| f.          |  Female             |
|m?           |  male not confirmed |

In [11]:
# Get the number of times each unique sex non-NA value appears.

hares['sex'].value_counts(dropna=False).unique

<bound method Series.unique of sex
F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: count, dtype: int64>

What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().

# help(pd.Series.value_counts)

In [13]:
hares['sex'] = hares['sex'].str.strip().str.lower()
hares

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51.0,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,m,NaN,1430.0,NaN,NaN,936.0,51.0,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,m,NaN,1430.0,NaN,NaN,921.0,51.0,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51.0,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51.0,Population
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,8/8/2002,18:00:00,bonrip,1b,1201,1202,NaN,NaN,1400.0,NaN,NaN,63.0,64.0,Population
3376,8/8/2002,6:00:00,bonrip,4b,1201,1202,NaN,NaN,NaN,NaN,NaN,63.0,64.0,Population
3377,8/7/2002,NaN,bonrip,4b,1217,1218,NaN,NaN,1000.0,134.0,NaN,69.0,64.0,Population
3378,8/8/2002,NaN,bonrip,6d,1217,1218,NaN,NaN,990.0,NaN,NaN,69.0,64.0,Population
3379,8/6/2002,NaN,bonrip,4b,1058,1060,m,NaN,1460.0,119.0,NaN,32.0,64.0,Population

In [14]:
hares['sex'].value_counts(dropna = False).unique()

array([1721, 1249,  352,   40,   13,    4,    1])

In [15]:
hares['sex'] = hares['sex'].str.strip().str.lower().str.replace("f?", 'f')
hares[(hares['sex'] = '?') | (hares['sex'] = 'f') | (hares['sex'] = 'm')] = np.nan
hares

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (1665141235.py, line 2)

In [16]:
# Check all the different unique values

hares.sex.unique()
x = hares.sex

In [17]:
condition_list = [x.isin(['M', 'm', 'm_']), x.isin(['F', 'f', 'f_'])]
output_list = ['male', 'female']

hares['sex_simple'] = np.select(condition_list, output_list, default = np.nan)

In [21]:
hares['sex_simple'] = new_column

In [22]:
hares['sex_simple'].value_counts()

sex_simple
female    1721
male      1249
nan        410
Name: count, dtype: int64

**7. Calculate mean weight**

Use groupby() to calculate the mean weight by sex using the new column.

In [23]:
hares.groupby(by = 'sex_simple')['weight'].mean()

sex_simple
female    1365.164792
male      1349.935542
nan       1198.888889
Name: weight, dtype: float64